<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="false" debug="false">

	<appender name="std" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level [%logger{50}:%line] - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework.beans.factory.config" level="INFO" />
	<logger name="org.springframework.beans.factory.support" level="INFO" />
	<logger name="org.springframework.beans.factory.xml" level="INFO" />

	<!-- 业务层日志 -->
	<logger name="com.traffic.analytics" level="DEBUG" />

	<root level="DEBUG">
		<appender-ref ref="std" />
	</root>
	
</configuration>